django
easy-thumbnails
djangorestframework
django-tagging
django-filter
django-pygments
mysql-python
django-responsive

python-memcached
libsass
django-sass-processor
django-ckeditor
django-markdown
python-social-auth

