{% extends "base/base.html" %}
{% load staticfiles %}
{% load add_class %}
{% load markdownify %}
{% block title %}Template Blog{% endblock %}
{% block head %}
	{{ block.super }}
	<link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if posts|length > 1 %}
	{% include 'blog/header.html' %}
{% endif %}
<div class="row">
	<div class="container">
		<div class="blog-main col-md-offset-1 col-md-8 col-lg-10">
			{% if request.user.is_superuser or request.user.is_staff %}
				<a href="/admin/blog/blog/add/">Write Post</a>
			{% endif %}
			{% if posts %}
			{%for post in posts %}
				<div class="blog-post">
					<a href = "/blog/view/{{ post.slug }}">
						<h2 class="blog-post-title">{{ post.title }}</h2>
					</a>
					<p class="blog-post-meta"> {{ post.posted }} by <a href="#">{{ post.author.username|title }}</a></p>
					<p class="blog-post-meta"> <a href = "/blog/category/{{ post.category }}">{{ post.category }}</a></p>
					<div class ="blog-content">
						<!-- /.blog-post -->
						{{ post.body|safe }}
					</div>
				</div>
				{% if posts|length == 1 and disqus and post.comments %}
					{% include 'blog/comments.html' %}
				{% endif %}
			{% endfor %}

			{% else %}
			<h2 class="blog-post-title">There are no blog posts</h2>
			{% endif %}
		  	<nav>
				<ul class="pager">
		  			<li><a href="#">Previous</a></li>
		  			<li><a href="#">Next</a></li>
				</ul>
		  	</nav>
		</div><!-- /.container -->
	</div><!-- /.blog-main -->
</div><!-- /.row -->
{% endblock %}

{% block js %}
	{{ block.super }}
    <script type="text/javascript" src="{% static 'blog/js/comments.js' %}"></script>
{% endblock %}
